<div class="bg-white rounded-lg shadow-md">
  <section class="flex flex-col md:flex-row items-center justify-between gap-4 p-4">
    <span class="text-center md:text-left w-full md:w-auto text-3xl">Clinicas</span>
    <div class="flex flex-col sm:flex-row items-center justify-end gap-4 w-full md:w-auto">
      <a (click)="refrescaDatos()" class="btn btn-info">
        <shared-icon-refresh />
        Refrescar
      </a>
      <a routerLink="/admin/clinicas/new" class="btn btn-primary">
        <shared-icon-add />
        Nuevo
      </a>
    </div>
  </section>
  <div class="overflow-x-hidden">
    <table class="table ml-5">
      <!-- head -->
      <thead>
        <tr>
          <th>Id</th>
          <th>Clinica</th>
          <th>Dirección</th>
          <th>Dirección</th>
          <th>Estatus</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (clinica of clinicasResource.value(); track clinica.id) {
        <tr>
          <td>{{clinica.id}}</td>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img src="/assets/images/veterinaria/clinica.jpg" [alt]="clinica.nombreClinica" class="object-contain " />
                  <!-- <img src="/assets/images/veterinaria/clinica.jpg" alt="Veterinaria" class="object-cover w-full h-full" /> -->
                </div>
              </div>
              <div>
                <div class="font-bold">{{clinica.nombreClinica}}</div>
                <div class="text-sm opacity-50">Tel: {{clinica.telefono}}</div>
              </div>
            </div>
          </td>
          <td>
            {{clinica.direccion.calle}}
            <br />
            <span class="badge badge-ghost badge-sm">{{clinica.direccion.municipio}}</span>
          </td>
          <td>{{clinica.activo ? 'Activo' : 'Inactivo'}}</td>
          <th>
            <button class="btn btn-primary btn-xs" [routerLink]="[`/admin/clinicas/${clinica.id}/edit`]">Editar</button>
          </th>
          <th>
            <button class="btn btn-secondary btn-xs" (click)="abrirModal(clinica.id)">Eliminar</button>
          </th>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<shared-confirm-modal #deleteModal titulo="¡Confirmar Eliminación!" mensajeAceptar="Si, Eliminar"
  mensaje="{{mensajeEliminar}}" (confirmar)="eliminaClinica()" (cancelar)="clinicaId = 0" />
