<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold text-primary">ingresar</h1>
      <p class="py-6">
        ¡Nos alegra tenerte de vuelta! Ingresa a tu cuenta.
      </p>
    </div>
    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <div class="card-body">
        <fieldset class="fieldset">
          <label class="label">Correo electronico</label>
          <input type="email" class="input" placeholder="Email" />
          <label class="label">Contraseña</label>
          <input type="password" class="input" placeholder="Contraseña" />
          <div><a class="link link-hover">¿Olvidaste tu contraseña?</a></div>
          <button class="btn btn-primary mt-4">Aceptar</button>
        </fieldset>
      </div>
    </div>
  </div>
</div>
