<shared-alert />

<div class="hero min-h-screen bg-gradient-to-br from-base-200 to-base-100">
  <div class="hero-content flex-col lg:flex-row">

    <div class="card bg-base-100 w-full max-w-md shadow-xl border border-base-300">
      <div class="card-body space-y-4">
        <h1 class="text-4xl font-bold text-center text-primary">VetLink</h1>
        <h2 class="text-3xl font-bold text-center text-primary">Restablecer Contraseña</h2>
        <span>{{leyenda()}}</span>

        <fieldset class="fieldset space-y-3">
          @if (vista()===1) {
          <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <label class="label font-semibold">Correo electrónico</label>
            <input type="email" class="input input-bordered w-full"
              placeholder="ingrese su dirección de correo electrónico" formControlName="email" required />
            @if (formUtils.isValidField(myForm, 'email')){
            <small class="text-error">{{ formUtils.getFieldError(myForm, 'email') }}</small>
            }

            <button class="btn btn-primary w-full mt-4" [disabled]="loading">
              @if (!loading) {
              Enviar correo electrónico
              } @else {
              <span class="loading loading-spinner loading-sm"></span>
              }
            </button>
          </form>
          } @else {
          <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <label class="label font-semibold">Nueva contraseña</label>
            <input type="password" class="input w-full" placeholder="Nueva contraseña" formControlName="newPassword" />
            @if (formUtils.isValidField(resetForm, 'newPassword')) {
            <ul class="text-sm text-error mt-3">
              @if (passwordErrors['minlength']) {
              <li>- {{ formUtils.getTextError({ minlength: passwordErrors['minlength'] }) }}</li>
              }
              @if (passwordErrors['uppercase']) {
              <li>- La contraseña {{ formUtils.getTextError({ uppercase: true }) }}</li>
              }
              @if (passwordErrors['number']) {
              <li>- La contraseña {{ formUtils.getTextError({ number: true }) }}</li>
              }
              @if (passwordErrors['special']) {
              <li>- La contraseña {{ formUtils.getTextError({ special: true }) }}</li>
              }
            </ul>
            }

            <button class="btn btn-primary w-full mt-4" [disabled]="loading">
              @if (!loading) {
              Aceptar
              } @else {
              <span class="loading loading-spinner loading-sm"></span>
              }
            </button>
          </form>
          }
        </fieldset>
      </div>
    </div>
  </div>
</div>
